*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 18px;
  font-family: 'Montserrat';
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item{
  height: 100%;
  width: 100%;
  flex: 1;
  transition: .3s ease flex;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.caption{
  position: absolute;
  left: 0px;
  bottom: 50px;
  color: black;
  opacity: 0;
  transition: .3s ease opacity;
  background-color: rgba(255, 255, 255, 0.404);
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
}
.item.show{
  flex: 8;
}
.item.show .caption{
opacity: 1;
}
@media only screen and (max-width: 768px){
  section{
    flex-direction: column;
  }
  .item{
    flex: 1;
    height: 100px;
  }
  .item.show{
    flex: 10;
  }
  body{
    font-size: 14px;
  }
}