*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
section{
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
  width: 90%;
  max-width: 500px;
  margin:0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}
textarea{
  resize: vertical;
}
button[type="submit"]{
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: 'Montserrat';
  color: rgb(27, 166, 247);
  background-color: rgb(227, 233, 238);
  text-align: center;
  cursor: pointer;
  transition: .3s ease background-color;
  margin-top: 10px;
}
button[type="submit"]:hover{
  background-color: rgb(214, 226, 236);
}
#status{
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
}
#status.success{
  background-color: rgb(211, 250, 153);
  color: green;
  animation: status 4s ease  forwards;
}
#status.error{
  background-color: rgb(250, 129, 92);
  color: rgb(252, 252, 252);
  animation: status 4s ease  forwards;
}

@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}