@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat';
  font-weight: 500;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(34, 34, 34);
  padding: 100px 0;
}
.container{
  width: 90%;
  max-width: 400px;
  background-color: #00919F;
  margin: 0 auto;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
.container::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120%;
  width: 120%;
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./bg.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}
form{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #3a3a3a;
  font-size: 25px;
  padding: 10px;
  color: white;
}
form button[type="submit"]{
  width: 100px;
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #676767;
  color: white;
  font-size: 30px;
}
form button ion-icon{
  margin-bottom: -6px;
}
form input::placeholder{
  font-family: 'Montserrat';
  letter-spacing: 1.2px;
  font-size: 22px;
}
.container .details{
  width: 80%;
  margin: 0 auto;
  background-color: #dfbebe94;
  text-align: center;
  padding: 30px 10px;
  border-radius: 8px;
}
.temp{
  font-size: 30px;
}
.status{
  margin: 10px 0 30px 0;
}
.more-info p{
  margin: 10px 0;
  font-size: 20px;
}

.query{
  margin-top: 20px;
}