@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}
section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 15, 32);
  flex-direction: column;
  text-align: center;
}
section .clock {
  border-radius: 8px;
  color: cyan;
}

.format{
  color: aquamarine;
  font-size: 20px;
  margin: 30px 0;
}
.format button{
  display: inline-block;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 20px;
  font-family: 'Orbitron';
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}