
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
  font-family: 'Montserrat';
}
body{
  overflow: hidden;
}
img{
  height: 100%;
  width: 100%;
}
section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.tooltip{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}
.tooltip-content{
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px #00000020;
  padding: 30px;
  border-radius:8px;
  width: 300px;
  opacity: 0;
  pointer-events: none;
  left: -50%;
}
.tooltip-content .arrow{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  top: -12.5px;
  left: 50%;
  transform:translateX(-50%) rotate(45deg) scale(.7);
}
/* .pin::before, */
.pin{
  position: absolute;
  content: '';
  top: 50%;
  left: 80%;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}
.pin:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: grow-effect 1s ease infinite;
}
.tooltip.active .tooltip-content{
  opacity: 1;
  pointer-events: all;
}
/* .pin::after{
  transform: translate(-50%,-50%);
  animation: grow-effect 1s ease infinite;
} */
@keyframes grow-effect{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(3);
    opacity: 0;
  }
}