
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
  font-family: 'Montserrat';
}
body{
  background-color: azure;
  width: 100%;
}

section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container img{
  height: 100%;
  width: 100%;
}
.all-tooltip{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.tooltip-content{
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px #00000020;
  padding: 30px;
  border-radius:8px;
  width: 90vw;
  max-width: 300px;
  opacity: 0;
  pointer-events: none;
  /* left: -50%; */
  z-index: 2;
}
.tooltip-content .arrow{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  top: 0px;
  left: 50%;
  transform:translate(-50%, -100%) rotate(0deg);
}
.pin{
  position: absolute;
  content: '';
  top: 50%;
  left: 80%;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}
.pin:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: puls-effect 1s ease infinite;
}
.tooltip.active .tooltip-content{
  opacity: 1;
  pointer-events: all;
  display: block;
}

/* Custom Style for tooltip-1 */

.tooltip-1 .pin{
  top: 40%;
  left: 82%;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
}
.tooltip-1 .tooltip-content{
  display: flex;
  max-width: 500px;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  background-color: aliceblue;
}
.tooltip-1.active .tooltip-content{
  display: flex;
}
.tooltip-1 .tooltip-content .img{
  width: 50%;
object-fit: cover;
}
.tooltip-1 .tooltip-content .content{
  width: 50%;
  padding: 20px;
}
.tooltip-1 .tooltip-content .content h1{
  font-size: 24px;
}
.tooltip-1 .tooltip-content .content p{
  font-size: 14px;
}
.tooltip-1 .tooltip-content .content button{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #00000020;
}

/* custom style for tooltip-2 */

.tooltip-2 .pin{
  top: 80%;
  left: 35%;
  height: 15px;
  width: 15px;
}
.tooltip-2 .tooltip-content .content h1{
  margin: 20px 0;
}
.tooltip-2 .tooltip-content{
  background-color: aliceblue;
}
.tooltip-2 .tooltip-content button{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #00000020;
}

/* Custom style for tooltip-3 */

.tooltip-3 .pin{
  top: 20%;
  left: 5%;
  height: 15px;
  width: 15px;
}
/* Custom style for tooltip-4 */

.tooltip-4 .pin{
  top: 80%;
  left: 5%;
  height: 15px;
  width: 15px;
}

/* Puls Effect For Pins */

@keyframes puls-effect{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(3);
    opacity: 0;
  }
}

/* Media Query */

@media (max-width: 768px){
  .tooltip-1 .tooltip-content{
    flex-direction: column;
    max-width: 300px;
  }
  .tooltip-1 .tooltip-content .content,
  .tooltip-1 .tooltip-content .img{
    width: 100%;
  }
}