body{
  font-family: 'Montserrat';
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(18, 23, 27);
  color: aliceblue;
}
.text{
  font-size: 24px;
}
.moreText{
  display: none;
}
.text.show-more .moreText{
  display: inline;
}
.readMoreBtn{
  padding: 15px 60px;
  background-color: rgb(149, 170, 197);
  color:rgb(53, 49, 49);
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
}
.dots{
  display: inline-block;
}
.text.show-more .dots{
  display: none;
}