*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section{
  height: 100Vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 100%;
  height: 100%;
}
.clock{
  height: 500px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 50%;
  /* border: 5px solid gray; */
  position: relative;
  background-image: url(./img/clock-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
.min ,
.sec,
.hour{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 5px;
  background-color: rgb(0, 0, 0);
  transform-origin: left;
  border-radius: 50%;
}
.min ,
.sec,
.hour{
  transform: rotate(-90deg);
}