*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
section{
  background-color: black;
  position: relative;
}
svg{
  position: absolute;
  width: 200px;
  fill: rgb(0, 81, 255);
}
@media (max-width: 768px){
  svg{
    width: 150px;
  }
}