*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*{
  cursor: none;
}
body{
  overflow-x: hidden;
}
section{
  min-height: 100vh;
  background-color: rgb(41, 42, 46);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.cursor{
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid white; */
  /* background-color: rgba(255, 255, 255, 0.356); */
  height: 30px;
  width: 30px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.cursor::after,.cursor::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}
.cursor::before{
  background-color: rgb(255, 255, 255);
}
.cursor.click::before{
  animation: click 1s ease  forwards;
  background-color: rgb(255, 255, 255);
}
@keyframes click{
 0%{
    opacity: 1;
    transform:translate(-50%, -50%) scale(1);
 }
 100%{
    opacity: 0;
    transform: translate(-50%, -50%) scale(7);
 }
}