*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat';
  font-size: 20px;
  background-color: aliceblue;
}
section{
  min-height: 100vh;
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
}
.container div{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #0000001c;
  transition: .3s ease box-shadow;
}
.container div:hover{
  box-shadow: 0px 0px 60px 0px #0000001f;
}
.container h2{
  font-size: 60px;
  margin: 20px 0;
}
.arrow{
  box-shadow: none!important;
  background-color: transparent!important;
  padding: 0 100px!important;
}
.arrow img{
  height: 80px;
}
.keyCode{
  cursor: pointer;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay.hide{
  display: none;
}
@media only screen and (max-width: 1000px){
  .container{
    flex-direction: column;
  }
  .arrow{
    padding: 30px 0!important;
    transform: rotate(90deg);
  }
}